# LaTeX
**/main.aux
**/main.log
**/main.fls
**/main.out
**/main.synctex.gz
**/main.fdb_latexmk

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
**/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
